In [2]:
!pip install mlxtend --user

Collecting mlxtend
  Downloading mlxtend-0.17.3-py2.py3-none-any.whl (1.3 MB)
Collecting pandas>=0.24.2
  Downloading pandas-1.1.3-cp36-cp36m-win_amd64.whl (8.7 MB)
Collecting scipy>=1.2.1
  Downloading scipy-1.5.2-cp36-cp36m-win_amd64.whl (31.2 MB)
Collecting numpy>=1.16.2
  Downloading numpy-1.19.2-cp36-cp36m-win_amd64.whl (12.9 MB)
Collecting matplotlib>=3.0.0
  Downloading matplotlib-3.3.2-cp36-cp36m-win_amd64.whl (8.5 MB)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (0.23.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (0.16.0)
Requirement already satisfied: setuptools in c:\users\lenovo\anaconda3\lib\site-packages (from mlxtend) (38.4.0)
Requirement already satisfied: pytz>=2017.2 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2017.3)
Collecting python-dateutil>=2.7.3
  Using cached python_dateutil-2.8.1-py2.py3-none-any.whl (227 kB)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.2.0)
Collecting pillow>=6.2.0
  Downloading Pillow-7.2.0-cp36-cp36m-win_amd64.whl (2.0 MB)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.2.0-cp36-none-win_amd64.whl (57 kB)
Requirement already satisfied: certifi>=2020.06.20 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2020.6.20)
Requirement already satisfied: cycler>=0.10 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.1.0)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.2->mlxtend) (1.11.0)
Installing collected packages: numpy, python-dateutil, pandas, scipy, pillow, kiwisolver, matplotlib, mlxtend
Successfully installed kiwisolver-1.2.0 matplotlib-3.3.2 mlxtend-0.17.3 numpy-1.19.2 pandas-1.1.3 pillow-7.2.0 python-dateutil-2.8.1 scipy-1.5.2

  WARNING: The script f2py.exe is installed in 'C:\Users\Lenovo\AppData\Roaming\Python\Python36\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
WARNING: You are using pip version 20.2.2; however, version 20.2.3 is available.
You should consider upgrading via the 'c:\users\lenovo\anaconda3\python.exe -m pip install --upgrade pip' command.

In [3]:
# go to ANACONDA PROMPT:
#if this command doesn't work
#conda install mlxtend --channel conda-forge

#then use this one
#conda install -c rasbt mlxtend

#else use this one
#!pip install mlxtend --user

In [4]:
from mlxtend.frequent_patterns import apriori

In [5]:
A = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
        ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
        ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
        ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
        ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [6]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [7]:
te = TransactionEncoder()
te_ary = te.fit(A).transform(A)

In [8]:
B = pd.DataFrame(te_ary, columns=te.columns_)

In [9]:
from mlxtend.frequent_patterns import apriori

In [10]:
C = apriori(B, min_support=0.5,max_len=2,use_colnames=True)

In [11]:
C

   support                itemsets
0      0.8                  (Eggs)
1      1.0          (Kidney Beans)
2      0.6                  (Milk)
3      0.6                 (Onion)
4      0.6                (Yogurt)
5      0.8    (Eggs, Kidney Beans)
6      0.6           (Onion, Eggs)
7      0.6    (Milk, Kidney Beans)
8      0.6   (Onion, Kidney Beans)
9      0.6  (Yogurt, Kidney Beans)

In [12]:
l = []

In [13]:
for i in C.itemsets:
   l.append(len(i))

In [14]:
C['lth']=l
C[C.lth!=1]

   support                itemsets  lth
5      0.8    (Eggs, Kidney Beans)    2
6      0.6           (Onion, Eggs)    2
7      0.6    (Milk, Kidney Beans)    2
8      0.6   (Onion, Kidney Beans)    2
9      0.6  (Yogurt, Kidney Beans)    2