In [1]:
import pandas as pd

In [2]:

A=pd.read_csv("E:/Data Science class/Datasets/Credit.csv")

In [3]:
A.head()

,Unnamed: 0,ID,Income,Limit,Rating,Cards,Age,Education,Gender,Student,Married,Ethnicity,Balance
0,1,1,14.891,3606,283,2,34,11,Male,No,Yes,Caucasian,333
1,2,2,106.025,6645,483,3,82,15,Female,Yes,Yes,Asian,903
2,3,3,104.593,7075,514,4,71,11,Male,No,No,Asian,580
3,4,4,148.924,9504,681,3,36,11,Female,No,No,Asian,964
4,5,5,55.882,4897,357,2,68,16,Male,No,Yes,Caucasian,331

In [4]:
X=A[['Cards']]
Y=A[['Student']]
#from sklearn.preprocessing import LabelEncoder
X=X.join(pd.get_dummies(A.Gender))
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=.2,random_state=20)

In [5]:
X.head()

   Cards   Male  Female
0      2      1       0
1      3      0       1
2      4      1       0
3      3      0       1
4      2      1       0

In [6]:
from sklearn.naive_bayes import GaussianNB
nb=GaussianNB()
model=nb.fit(xtrain,ytrain)
pred=model.predict(xtest)

C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [7]:
pred

array(['No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'No', 'No', 'No'], dtype='<U3')

In [8]:
import sklearn.metrics as sm
sm.confusion_matrix(ytest,pred)

array([[70,  0],
       [10,  0]], dtype=int64)

In [9]:
print(sm.classification_report(ytest,pred))

             precision    recall  f1-score   support

         No       0.88      1.00      0.93        70
        Yes       0.00      0.00      0.00        10

avg / total       0.77      0.88      0.82        80

C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)