In [1]:
import pandas as pd

In [2]:
A = pd.read_csv("E:/Data Science class/Datasets/iris.csv")

In [3]:
A.head(10)

   Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           1           5.1          3.5           1.4          0.2  setosa
1           2           4.9          3.0           1.4          0.2  setosa
2           3           4.7          3.2           1.3          0.2  setosa
3           4           4.6          3.1           1.5          0.2  setosa
4           5           5.0          3.6           1.4          0.2  setosa
5           6           5.4          3.9           1.7          0.4  setosa
6           7           4.6          3.4           1.4          0.3  setosa
7           8           5.0          3.4           1.5          0.2  setosa
8           9           4.4          2.9           1.4          0.2  setosa
9          10           4.9          3.1           1.5          0.1  setosa

In [4]:
A.describe()

       Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count  150.000000    150.000000   150.000000    150.000000   150.000000
mean    75.500000      5.843333     3.057333      3.758000     1.199333
std     43.445368      0.828066     0.435866      1.765298     0.762238
min      1.000000      4.300000     2.000000      1.000000     0.100000
25%     38.250000      5.100000     2.800000      1.600000     0.300000
50%     75.500000      5.800000     3.000000      4.350000     1.300000
75%    112.750000      6.400000     3.300000      5.100000     1.800000
max    150.000000      7.900000     4.400000      6.900000     2.500000

In [5]:
A.corr()

              Unnamed: 0  Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
Unnamed: 0      1.000000      0.716676    -0.402301      0.882637     0.900027
Sepal.Length    0.716676      1.000000    -0.117570      0.871754     0.817941
Sepal.Width    -0.402301     -0.117570     1.000000     -0.428440    -0.366126
Petal.Length    0.882637      0.871754    -0.428440      1.000000     0.962865
Petal.Width     0.900027      0.817941    -0.366126      0.962865     1.000000

In [6]:
A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
Unnamed: 0      150 non-null int64
Sepal.Length    150 non-null float64
Sepal.Width     150 non-null float64
Petal.Length    150 non-null float64
Petal.Width     150 non-null float64
Species         150 non-null object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.1+ KB

In [7]:

A = A.drop(labels="Unnamed: 0",axis=1)

In [8]:
X = A[["Sepal.Length","Sepal.Width","Petal.Width"]]
Y = A[["Petal.Length"]]
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(X,Y,test_size=0.2,random_state=30)

In [9]:
from sklearn.linear_model import LinearRegression,Ridge,Lasso
lm = LinearRegression()
rr = Ridge()
ls = Lasso()

In [10]:

from sklearn.model_selection import GridSearchCV
tp = {"alpha":[0.1,0.2,0.3,0.4,1,2,3,4]}

In [11]:
from sklearn.metrics import mean_absolute_error,explained_variance_score

In [12]:

linearmodel = lm.fit(xtrain,ytrain)
pred_lm = linearmodel.predict(xtest)
ev_lm = explained_variance_score(ytest,pred_lm)

In [13]:
cv_rr = GridSearchCV(rr,tp,scoring="explained_variance",cv=4)
cv_ls = GridSearchCV(ls,tp,scoring="explained_variance",cv=4)
cvmodelrr = cv_rr.fit(xtrain,ytrain)
cvmodells = cv_ls.fit(xtrain,ytrain)

In [14]:
cvmodelrr.best_params_

{'alpha': 0.2}

In [15]:
cvmodells.best_params_

{'alpha': 0.1}

In [16]:
rr = Ridge(alpha=0.2)
ridgemodel = rr.fit(xtrain,ytrain)
pred_rr = ridgemodel.predict(xtest)
mean_absolute_error(ytest,pred_rr)

0.21129446087841183

In [17]:
ls = Lasso(alpha=0.01)
lassomodel = ls.fit(xtrain,ytrain)
pred_ls = lassomodel.predict(xtest)
mean_absolute_error(ytest,pred_ls)

0.21201170805518452